html {
    margin: auto;
}

body {
    max-width: 100ex;
    position: relative;
}

#whoami {
    overflow: hidden;
}

#whoami img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    width: 120px;
    height: 120px;
}

header, section, footer {
    margin-left: 150px;
}

header, section {
    border-bottom: black 2px solid;
}

footer {
    padding-top: 8px;
}

.no-print {
    display: none;
}
