#whoami {
    overflow: hidden;
}

#whoami img {
    float: left;
    padding: 12px;
    width: 120px;
    height: 120px;
}

header, section {
    border-bottom: black 2px solid;
}

footer {
    padding-top: 8px;
}

.no-print {
    display: none;
}
