body {
	height: 100%;
	margin: 0;
}

.wallpaper {
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover; 
	z-index: -2;
}

.wallpaper::after {
	content: "";
	z-index: -1;
	background-color: rgba(255,255,255,0.7);
}

.wallpaper, .wallpaper::after {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

@media (min-width: 120ex) {
	#page-header {
		position: fixed;
		right: 0;
		max-width: 30%;
		font-size: 1.5rem;
	}
	
	#welcome {
		line-height: normal;
	}
	
	#page-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 2.5%;
		right: 2.5%;
		padding: 0px;
	}

	#content-wrapper {
		flex: 1 1 auto;
		width: 70%;
	}

	#about {
		border: none;
	}

	#copyright {
		clear: none;
		float: left;
	}

	section, nav {
		padding: 0ex;
	}
	
	p {
		margin: 0.4rem 0rem;
	}

	.column {
		float: none;
		margin: 1.25rem auto;
	}
}

@media (min-width: 60ex) {
	#contacts {
		flex: 0 1 auto;
		max-width: none;
		width: 100%;
		margin: 0px auto;
	}

	#contacts .title {
		display: none;
	}

	#contacts ul {
		align-content: center;
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: auto;
		padding: 0 4ex;
		text-align: center;
	}

	#contacts li {
		display: inline-block;
		min-width: 16ex;
		flex: 0 1;
		vertical-align: top;
	}

	#contacts a img {
		display: block;
		margin: auto;
		height: 80%;
		width: 80%;
		transition: all 100ms ease-in;
	}

	#contacts a:hover img {
		transform: scale(1.1);
	}

	#page-footer {
		flex: 0 1 auto;
		width: 100%;
	}
}
