@media screen {
    body {
        max-width: 100ex;
        margin: auto;
        position: relative;
    }

    .tags ul {
        flex-wrap: wrap;
        display: flex;
        padding: 0;
    }

    .tags ul li {
        display: block;
        float: left;
        border: 2px silver outset;
        border-radius: 1ex;
        margin: 0.5ex;
        padding: 2ex;
    }

    div.no-print {
        display: block !important;
    }

    li.no-print {
        display: list-item !important;
    }

    span.no-print {
        display: inline !important;
    }

	#localization {
		display: flex !important;
		flex-direction: row;
	}

    @media (min-width: 150ex) {
        #whoami img {
            position: absolute;
            right: 100%;
            padding: 0 2ex;
            text-align: right;
        }

        #localization {
			display: flex !important;
			flex-direction: column;
            position: absolute;
            left: 100%;
            padding: 0 2ex;
        }
    }
}