/* Here are fixes for better look in html2pdf out */

li {
    list-style-image: url("bullet.png"); 
}

li.star {
    list-style-image: url("star.png"); 
}

li.like {
    list-style-image: url("like.png"); 
}

li li > p {
    margin: 8px 0px;
}